.main-wrapper{
    background: #f8f9fa;
}
.carousel-indicators [data-bs-target]{
    /* background-color: #292827; */
    height: 10px;
    width: 10px;
    /* border-radius: 50%; */
}
.carousel-indicators .active{
    background-color: #e7b307;
}
.products_types .nav-tabs{
    border-bottom: 2px solid #c4c4c4;
}
.products_types .nav-tabs .nav-item.show .nav-link,  .products_types .nav-tabs .nav-link.active{
    border-color: transparent;
    background: transparent;
}
.products_types .nav-tabs .nav-link.active:focus, .products_types .nav-tabs .nav-link.active:focus-visible, .products_types .nav-tabs .nav-link.active:hover, .products_types .nav-tabs .nav-link.active:focus-within{
    border-color: transparent;
}
.products_types .nav-tabs .nav-item.show .nav-link:hover{
    border-color: transparent;
}
.products_types .nav-tabs .nav-link:focus, .products_types .nav-tabs .nav-link:hover{
    border-color: transparent;
}
.products_types .nav-tabs .nav-link{
     color: #429a13;
    font-weight: bold;
}
.products_types .nav-tabs .nav-link.active{
    color: #000 !important;
    font-weight: bold;
}

.category_products{
    margin-top: 20px;
}
.category_products .banner.style1{
    background: linear-gradient(to right, #f2e5af, #89f4e1);
    background: -moz-linear-gradient(to right, #f2e5af, #89f4e1);
    background: -o-linear-gradient(to right, #f2e5af, #89f4e1);
    background: -webkit-linear-gradient(to right, #f2e5af, #89f4e1);
}
.category_products .banner.style2{
    background: linear-gradient(to right, #b0fafe, #65cefe);
    background: -moz-linear-gradient(to right,#b0fafe, #65cefe);
    background: -o-linear-gradient(to right,#b0fafe, #65cefe);
    background: -webkit-linear-gradient(to right,#b0fafe, #65cefe);
}
.category_products .banner.style3{
    background: linear-gradient(to right, #efed8e, #fed286);
    background: -moz-linear-gradient(to right, #efed8e, #fed286);
    background: -o-linear-gradient(to right, #efed8e, #fed286);
    background: -webkit-linear-gradient(to right, #efed8e, #fed286);
}
.category_products .banner.style4{
    background: linear-gradient(to right, #7c75ff, #cbd1fd);
    background: -moz-linear-gradient(to right, #7c75ff, #cbd1fd);
    background: -o-linear-gradient(to right, #7c75ff, #cbd1fd);
    background: -webkit-linear-gradient(to right, #7c75ff, #cbd1fd);
}
.category_products .banner{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category_products .banner .title{
    font-size: 70px;
    text-transform: uppercase;
    font-family: var(--popins);
    color: #043c32;
    font-weight: 700;
}
.category_products .banner .left{
    position: relative;
}
.category_products .banner .sub_title{
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    color: #e30000;
    text-shadow: 1px 1px white;
}